* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 992px;
    height: 65px;
    border: 1px solid black;
    border-bottom: 0px;
    margin: auto;
    padding: 2px;
    /* background-color: rosybrown; */
}

.container {
    width: 1000px;
    height: calc(768px - 65px - 20px);
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aside {
    width: 230px;
    height: calc(768px - 65px - 20px);
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.aside-header {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-bottom: 0px;
    border-right: 0px;
}

.aside-header-title {
    font-family: '標楷體';
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;
    text-decoration: underline;
    color: #FF00FF;
}

.aside-header-box {
    width: 200px;
    height: 35px;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    background-image: url("./images/menu1.png");
}

.aside-header-box:hover {
    background-image: url("./images/menu2.png");
}

.aside-footer {
    width: 100%;
    height: 25px;
    /* background-color: lightcoral; */
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
    text-align: center;
    border: 1px solid black;
    border-right: 0px;
}

.main {
    width: 770px;
    height: calc(768px - 65px - 20px);
    /* background-color: seagreen; */
    display: flex;
    flex-direction: column;
}

.main-header {
    width: 770px;
    height: 29px;
    /* background-color: coral; */
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
    border: 1px solid black;
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    border: 1px solid black;
    border-top: 0px;
    /* background-color: magenta; */
}

iframe {
    width: 100%;
    height: 100%;
}

.footer {
    width: 1000px;
    height: 20px;
    /* background-color: darkorange; */
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
    border: 1px solid black;
    border-top: 0px;
    padding-left: 25px;
}